body {
    background-color: rgb(20, 20, 22);
}

.manga-area {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.manga-image {
    max-height: 100vh;
    max-width: 100vw;
    min-width: 0;
    object-fit: contain;
    height: auto;
    width: auto;
}

.m-hidden {
    display: none;
}

.setting-enabled {
    color: white!important
}

.setting-disabled {
    color: gray!important;
}

.setting-notallowed {
    color: black!important
}

div[onclick] {
    cursor: pointer;
  }